#carousel {
	overflow: hidden;
}
#carousel-wrapper {
	position: relative;
	display: flex;
    transition: transform .3s;
}
.item {
	display: flex;
    justify-content: center;
    align-items: center;
}
.inner img {
	max-width: 100%;
}